@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body{
  font-family: "Lato";
}

#navbar{
display: flex;
justify-content: space-around;
align-items: center;
font-family: "Lato";
}

#logo_nav{
  height: 50px;
  margin: 0px 5px 0px 7px;
}

.nav_options{
  margin: 11px 8px 0px 8px;
  font-size: 17px;
  color: rgba(0,0,0,.7);

}

#headder{
  height: 60px;
  background-color: rgba(96,125,139,.6);
  border-bottom: 2px solid rgba(228,87,37,1);
  box-shadow: 0px 1px 2px rgba(21,21,21,.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#login{
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: transparent;
  background-color: rgba(228,87,37,.9);
  margin: 6px 15px 0px 0px;
}

#main_body{
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-position: 0px -130px;
  height: 800px;
  background-color: black;
  display: flex;
}

#central_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px auto;
}

#central_logo{
  width: 130px;
}

#login {
    display: flex;
}

.title {
  display: flex;
  justify-content: center;
  align-content: center;
}

.title h1 {
  justify-content: center;

}


.subm {
  margin-top: 15px;
  margin-bottom: 15px;
}
.forgot{
  display: flex;
  justify-content: space-between;
}

.forgot a {
  font-size: smaller;
}



.main {
display: flex;
flex-direction: column;
}

.campos {
 margin-top: 10px;
 margin-bottom: 10px;
}

.inputs {
  margin-left: 6px;
}

#login {
    display: flex;
}

.title {
  display: flex;
  justify-content: center;
  align-content: center;
}

.title h1 {
  justify-content: center;

}


.subm {
  margin-top: 15px;
  margin-bottom: 15px;
}
.forgot{
  display: flex;
  justify-content: space-between;
}

.forgot a {
  font-size: smaller;
}





.campos {
 margin-top: 10px;
 margin-bottom: 10px;
}

.inputs {
  margin-left: 6px;
}

.inputs {
  margin-left: 6px;
  width: auto;
  text-align: center;


}


.reparacion {
  width: 100px;
}

.horast {
  width: 131px;
}

.diesel {
  width: 80px;
}


select, input {
    border: solid 1px grey;
    border-radius: 3px;
    font-size: 16px;
    color: gray;
    height: 30px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;

    &:focus {
      outline: none;
      box-shadow: none;
      border: solid 1px grey;
    }
  }

form-control {
  width: 80px;
  text-align: center;
}

#maquinas {
  width: auto;
  text-align: center;
}

#maquinasid {
  width: auto;
  text-align: center;
}

#lluvia {
  width: auto;
  text-align: center;
}

#horas {
  width: 45px;
  text-align: center;
}

#reparacion {
  width: 45px;
  text-align: center;
}
#diesel {
  width: 60px;
  text-align: center;
}


#main_body_l{
  background-color: rgba(207,216,222,0.5);
  background-size: cover;
  background-position: 0px -130px;
  height: 800px;
  display: flex;
  justify-content: center;
}

#main_bod_container{
  width: 300px;
  display: flex;
  flex-flow: column;
  margin: 0px auto;
}

.logo_center{
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 40px;
}

.forgot{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  text-align: center;
}

.subm{
  display: flex;
  justify-content: center;
}

#container {
  display: flex;
  margin: 0px auto;
  margin-top: 30px;
  align-content: space-around;
  width: 270px;

}



#main_body_c{
  background-color: rgba(207, 216, 220, 0.5);
  background-size: cover;
  background-position: 0px -130px;
  height: 800px;

  display: flex;
}

.mostrar_graf  {
  cursor: pointer;
  height: 20px;
}

#main_body_g {

  background-size: cover;
  background-position: 0px -130px;
  height:;

  display: flex;
}

#container_g {
  display: flex;
  margin: 0px auto;
  margin-top: 30px;
  align-content:;
  width: auto;

}
.main_g {
  background-color: rgba(207, 216, 220, 0.5);
  background-size: cover;
  height: 1000px;

}

.graf {
  display: flex;
}
#speedChart {
margin-top: 40px;
align-self: center;

}
