#login {
    display: flex;
}

.title {
  display: flex;
  justify-content: center;
  align-content: center;
}

.title h1 {
  justify-content: center;

}


.subm {
  margin-top: 15px;
  margin-bottom: 15px;
}
.forgot{
  display: flex;
  justify-content: space-between;
}

.forgot a {
  font-size: smaller;
}



.main {
display: flex;
flex-direction: column;
}

.campos {
 margin-top: 10px;
 margin-bottom: 10px;
}

.inputs {
  margin-left: 6px;
}
